<!doctype HTML>
<html>
  <head>
    <form action="/chat" method="POST">
      Ask a question or make an inquiry to the chatbot: <input type="text" name="user_input">  
      <input type="submit" name= "form" value="Submit" />
    </form>
      <br>
      AI type is listed in order from cheapest (least complex) to most expensive (most complex). <br>
      Ada should be used basic conversation like one-word responses. <br>
      Babbage should be used for clever questions with multiple-word answers. <br>
      Curie might give you a helpful answer if asking a serious question. <br>
      DaVinci should be <strong>reserved for only serious, complex questions. </strong> <br>
      Default AI type is 'Ada'.  <br>
      <b><i>This bot is not meant to give realistic advice and is only meant to simulate a helpful assistant. 
            Responses should not be taken seriously.
      </b></i>
    </form>

    <head>
      Execute clearchatlog on button click

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
      <script type=text/javascript> $(function() { $("#clearlogButton").click(function (event) { $.getJSON('/clearlog', { },
      function(data) { }); return false; }); }); </script> 
    </head>
  
    <body>        
            <input type = "button" id = "clearlogButton" value = "Click to clear chat log" />
    </body>  

    <br>
  </head>
</html>
